@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "_Layout";
}
@section Styles {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}
<div class="d-flex justify-content-center align-items-center h-100">
  
    <div class="card welcome-card shadow-lg text-center p-5">
        
        <div class="card-body">
            <h1 class="card-title display-4 text-primary mb-3">
                Hoşgeldiniz!
            </h1>
            <p class="card-text lead text-muted mb-4">
                Kullanıcı Yönetim Uygulaması
            </p>
            <a class="btn btn-primary btn-lg custom-btn-width" href="/User/Index">
                Kullanıcı Listesine Git
            </a>
        </div>
    </div>
</div>