/* GENEL SAYFA VE ARKA PLAN STÝLLERÝ (site.css içinde kalmalý) */

html, body {
    height: 100%;
}

body {
    background-color: #f4f7f6;
    display: flex;
    flex-direction: column;
}

.container {
    flex-grow: 1;
}
